NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
NEXT_PUBLIC_API_URL=http://localhost:5000

# Database
DATABASE_URL="postgresql://user:password@host:port/database?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/database"

# Auth.js / NextAuth Configuration
# Run `npx auth secret` or generate a random hash for AUTH_SECRET
AUTH_SECRET="your_nextauth_secret_hash"
AUTH_URL="http://localhost:3000"


# Supabase Storage Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_BUCKET_NAME="RiverSide Clone"